body{
    margin: 0;
    padding: 0;
}
h3{
    font-family: 'Merriweather', serif;
}

h1, h2{
    font-family: 'Crete Round', serif; 
}
.container{
    background-color: #B4ECE3;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-wrap: wrap;
    position: relative;
    /* row-gap: rem; */
}
.container::before{
    content: "";
    background: url('../img/guessing.jfif') no-repeat center/contain;
    position: absolute;
    background-position: 100% 0% 0% 100%;
    bottom: 0;
    right: 5%;
    opacity: 1;
    width: 250px;
    height:200px;
    z-index: 2;
}

.Game_heading{
    width: 100%;
    background-color: rgb(79, 71, 71);
    text-align: center;
    color: white;
}
.instruction{
    column-span: 1/4;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 2px solid red; */
}
.instruction ul{
    text-align: left;
    width: 100%;
}
.instruction li{
    font-family: 'Play', sans-serif;
    text-align: left;
}
.instruction h3{
    font-size: 25px;
    text-align: left;
}

.player-1{
    column-span: 1/3;
    /* border: 2px solid green; */
    width: 50%;
}
.player-1 input {
    margin: 0 auto;
    border-radius: 10px;
    height: 50px;
    width: 70px;
}
#btn{
    border-radius: 10px;
    height: 50px;
    width: 100px;
    font-size: 20px;
    background-color: #00FFC6;
    text-align: center;
}
.player-1 h1{
    border: 2px solid black;
    height: 50px;
    /* padding-top: 10px; */
    width: 70px;
    margin: 5px auto;
    /* display: none; */
    border-radius: 10px;
    display: none;
}
.player-2{
    column-span: 3/4;
    /* border: 2px solid green; */
    width: 50%;
    padding: 0 50px;
}
.player-2 h1{
    border: 2px solid black;
    height: 50px;
    font-size: 25px;
    width:70px;
    padding-top: 10px;
    text-align: center;
    margin: 0 auto;
    /* display: none; */
    border-radius: 10px;
}
.result{
    column-span: 1/4;
    width: 100%;
}

.result h1{
    font-size: 25px;
}

@media screen and (max-width: 773px) and (min-width: 510px) {
        .container::before{
            top: 10%;
            right: 38%;
            height: 100px;
            width: 100px;
        }
}
@media screen and (max-width: 510px) and (min-width: 100px) {
        .container::before{
            content: none;
        }
        
}